# Data Science Tools and Ecosystem

In this notebook we will summarize ools and Ecosystem for Data Sience

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List some Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. SQL
4. C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy 
4. Tensorflow
5. PyTorch

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [3]:
print("This will convert 200 minutes to hours by diving by 60")
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Nazaret Luca